@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --font-color:#333333;
    --color-primary:#F2994A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
}
main {
    display: flex;
    justify-content: center;
}

.page {
    width: fit-content;
}

.form-item {
    height: 46px;
}

#cont-btn {
    background-color: var(--color-primary);
}

.alt-text-color {
    color: var(--color-primary);
}
.product-img {
    width: 100%;
    max-width: 135px;
}

.product-list {
    width: fit-content;
    padding-inline: 20px;
    height: fit-content;
}

.countBtn {
    background-color: rgb(128, 128, 128, 0.3);
}

.countBtn:hover {
    background-color: rgb(128, 128, 128, 0.5);
}

.increamentDiv {
    width: fit-content;
}